
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: -4px;
    display: flex;
    height: 20vh;
    overflow-x: hidden;
    /* Cache le débordement horizontal */
    



}

.page-accueil {
    width: 100vw;
    height: 100vh;
    /* background-image: url(/images/accueil/gif-bleu-rose.gif); */

    /* image accueil */
    .image-accueil {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .image-accueil img {
        width: 100vw;
        height: 100vh;
    }

    .projets-bitmap {
        width: 30vw;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: color-dodge;
    }

    .projets-bitmap img {
        width: 100%;
        height: auto;
    }

    .accueil-container {
        mix-blend-mode: color-dodge;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
    }

    /* standard */
    @media screen and (min-width : 600px) {
        .accueil-container {
            font-size: 3vw;
            display: flex;
            justify-content: space-between;
        }
    }

    /* mobile */
    @media screen and (max-width : 599px) {
        .accueil-container {
            display: grid;
            justify-content: space-between;
            font-size: 7vw;

        }
    }

    .projets {
        font-size: 2vw;
        mix-blend-mode: color-dodge;
        color: rgb(88, 88, 88);
        margin-right: 1.5vw;
        margin-left: 1vw;
        margin-top: 0;
    }

    .texte-accueil {
        font-size: 2vw;
        mix-blend-mode: color-dodge;
        color: rgb(88, 88, 88);
        margin-top: 0;
        margin-left: 1vw;
        margin-bottom: 0;
    }

    /* mobile */
    @media screen and (max-width : 599px) {
        .projets {
            font-size: 6.5vw;
        }
    }
    @media screen and (max-width : 599px) {
        .texte-accueil {
            font-size: 6.5vw;
        }
    }
    /* standard */
    @media screen and (min-width : 600px) {
        .projets {
            font-size: 2vw;
        }
    }
    @media screen and (min-width : 600px) {
        .texte-accueil {
            font-size: 2vw;
        }
    }


    .accueil-credits {
        width: 100vw;
        display: flex;
    }

    /* standard */
    @media screen and (min-width : 600px) {
        .accueil-credits {
            justify-content: flex-end;
        }
    }

    /* mobile */
    @media screen and (max-width : 599px) {
        .accueil-credits {
            justify-content: flex-start;

        }
    }

    .texte-accueil-credits {
        position: absolute;
        bottom: 0;
        /* mix-blend-mode: color-dodge; */
        color: rgb(88, 88, 88);
        font-size: 2vw;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }

    /* standard */
    @media screen and (min-width : 600px) {
        .texte-accueil-credits {
            font-size: 1.5vw;
        }
    }

    /* mobile */
    @media screen and (max-width : 599px) {
        .texte-accueil-credits {
            font-size: 4vw;

        }
    }

    .footer-text {
        font-size: 3em;
        position: absolute;
        bottom: 1.5vw;
        mix-blend-mode: color-dodge;
        color: rgb(88, 88, 88);
    }

    /* standard */
    @media screen and (min-width : 600px) {
        .footer-text {
            font-size: 1.5vw;
            right: 1.5vw;
        }
    }

    /* mobile */
    @media screen and (max-width : 599px) {
        .footer-text {
            font-size: 4vw;
            justify-content: left;
            left: 1.5vw;
        }
    }
}



/* Styles pour le menu */
.menu {
    background-color: rgb(255, 255, 255, 0);
    color: rgb(86, 0, 255);
    width: 33.33vw;
    padding-left: 20px;
    box-sizing: border-box;

}

@media screen and (min-width : 600px) {
    .menu {
        width: 33.33vw;
    }
}

@media screen and (max-width : 599px) {
    .menu {
        width: 20vw;
    }
}


.menu ul {
    list-style: none;
    width: 25vw;
    padding: 0;
    position: fixed;
}

.menu ul li {
    margin: 3px 0;
    margin-bottom: 10px;
}

.menu ul li a {
    color: rgb(86, 0, 255);
    text-decoration: none;
    font-size: 1.1em;
}

.menu ul li a.active {
    color: rgb(255, 0, 0);
    /* Couleur du texte */
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* changer type menu en fonction taille fenetre */

@media screen and (min-width : 600px) {
    .menu-mobile {
        display: none;
    }
}

@media screen and (max-width : 599px) {
    .menu-standard {
        display: none;
    }
}

.menu-credits {
    font-size: 0.9em;
}

/* Styles pour le contenu */
.content {
    color: rgb(86, 0, 255);
    width: 66.67vw;
    /* padding: 20px; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

    

    @media screen {
        p {
            width: 95%;
            text-align: justify;
        }

    }

    @media screen and (min-width : 600px) {
        .content {
            width: 66.67vw;
        }
    }

    @media screen and (max-width : 599px) {
        .content {
            width: 80vw;
        }
    }

    /* cacher/montrer images standard/mobile */
    @media screen and (min-width : 600px) {
        .mobile {
            display: none;
        }
    }

    @media screen and (max-width : 599px) {
        .standard {
            display: none;
        }
    }

    .titre-page {
        font-size: 1.6em;
        text-align: left;
    }

    .sous-titre {
        font-size: 1.3em;
    }

    .bold-text {
        font-size: 1em;
        font-weight: bold;
        margin-top: 3%;
    }

    .texte-page {
        font-size: 1em;
    }

    #evenement-texte {
        padding-bottom: 40px;
    }

    /* page vélocité */
    #vélocité-5 {
        scale: 65%;
    }
    #vélocité-4 {
        scale: 90%;
    }
    #vélocité-3 {
        padding-left: 15vw;
    }
    #vélocité-2 {
        padding-left: 30vw;
        scale: 90%;
    }
    #vélocité-1 {
        padding-left: 8vw;
        padding-top: 10vh;
    }


    /* Style pour la galerie d'images */
    .carousel-container {
        position: static;
        width: 100vw;
        overflow: hidden;
        /* Cache les images qui ne sont pas visibles */
        /* max-width: 800px; */
        /* Largeur maximale pour la galerie */
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel img {
        width: 100vw;
        /* Prend 100% de la largeur de l'écran */
        /* max-width: 800px; */
        height: auto;
    }

    @media screen and (max-width : 3840px) {
        .carousel-container {
            width: 95vw;
        }
    }

    button.prev,
    button.next {
        position: fixed;
        top: 50vw;
        transform: translateY(-50%);
        background-color: rgb(255, 72, 0);
        color: white;
        border: none;
        padding: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    button.prev {
        left: 0;
    }

    button.next {
        right: 0;
    }

    /* Style pour les images horizontales */
    /* .image-horizontale {
        width: 100vw;
        box-sizing: border-box; */
    /* Inclut les bordures et le padding dans la largeur totale */
    /* margin: 30px 0px;
    } */

    .image-horizontale img {
        width: 100%;
        /* L'image prend 100% de la largeur de la fenêtre */
        height: auto;
        /* Maintient les proportions de l'image */
        margin-bottom: 20px;
        cursor: pointer;
    }

    /* image prend la largeur de l'écran */
    @media screen {
        .image-horizontale {
            width: 95%;
            margin-top: 4%;
        }

    }






    /* image affiche stan smith */
    .image-verticale {
        width: 100%;
        /* Prend la même largeur que le carousel-container */
        max-width: 800px;
        margin: 30px 0px;
        /* Centre l'image mosaïque horizontalement */
    }

    .image-verticale img {
        width: 100%;
        /* Prend toute la largeur disponible comme les images du carrousel */
        height: auto;
        /* Ajuste automatiquement la hauteur */
        max-width: 800px;
        /* Limite la largeur maximale à 800px */
        cursor: pointer;
        margin-bottom: 20px;
    }

    @media screen and (min-width : 850px) {
        .image-verticale {
            width: 40%;
        }
    }

    @media screen and (max-width : 849px) {
        .image-verticale {
            width: 95%;
        }
    }


    /* pages jpg deambulations */
    .border img {
        border: 1px solid #00000038;
        margin-bottom: 3%;
    }

    /* vidéo stan smith */
    .video {
        width: 100%;
        margin: 30px 0px;
        /* Centre l'image mosaïque horizontalement */
    }

    .video video {
        width: 100%;
        /* Prend toute la largeur disponible comme les images du carrousel */
        height: auto;
        /* Limite la largeur maximale à 800px */
    }

    @media screen {
        .video {
            width: 95%;
        }
    }

    /* youtube vidéo */
    .yt-video {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin: 30px 0px;
        /* Centre l'image mosaïque horizontalement */
    }

    @media screen {
        .yt-video {
            width: 95%;
        }
    }

    .etapes-realisation {
        width: 100vw;
        /* Largeur totale de la fenêtre */
        display: flex;
        gap: 1%;
        /* Espace entre les images */
        justify-content: left;
        margin: 20px 0;
    }

    @media screen {
        .etapes-realisation {
            width: 95%;
        }

    }

    .etapes-realisation img {
        width: 24.25%;
        /* Chaque image prend 25% de la largeur pour 4 images en ligne */
        cursor: pointer;
        height: auto;
        margin-bottom: 20px;
    }

    /* galerie défilante */
    .container {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media screen {
        .container {
            width: 95%;
        }

    }

    .slider-wrapper {
        position: relative;
        max-width: 100%;
        margin: 0 0;
    }

    .slider {
        display: flex;
        aspect-ratio: 16 / 9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        /* Hide scrollbar IE and Edge */
        scrollbar-width: none;
        /* Hide scrollbar Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }

    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }

    .slider-nav a:hover {
        opacity: 1;
    }

    /* 3 images à la suite horizontalement */
    .vertical-fanzine-club {
        width: 100vw;
        /* Largeur totale de la fenêtre */
        display: flex;
        gap: 1%;
        /* Espace entre les images */
        justify-content: left;
        margin: 20px 0;
    }

    .vertical-fanzine-club img {
        margin-bottom: 20px;
    }

    @media screen {
        .vertical-fanzine-club {
            width: 95%;
        }

    }

    .vertical-fanzine-club img {
        width: 32.67%;
        cursor: pointer;
        height: auto;
    }

    /* 2 images à la suite horizontalement */

    .deux-images {
        width: 100vw;
        /* Largeur totale de la fenêtre */
        display: flex;
        gap: 1%;
        /* Espace entre les images */
        justify-content: left;
        margin-bottom: 20px;
        margin-top: 4%;
    }

    .deux-images img {
        margin-bottom: 20px;
    }

    @media screen {
        .deux-images {
            width: 96%;
        }

    }

    .deux-images img {
        width: 49%;
        height: auto;
        cursor: pointer;
    }

    /* images page etoffes */

    /* fourrure */
    #fourrure {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #fourrure {
            width: 45%;
            position: relative;
            margin-top: 5%;
            left: 50%;
        }

    }

    @media screen and (max-width : 599px) {
        #fourrure {
            width: 95%;
            margin-top: 10%;
        }

    }

    #fourrure img {
        width: 100%;
        cursor: pointer;
    }

    /* tissus */
    #tissus {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #tissus {
            width: 35%;
            position: relative;
            margin-top: -15%;
            margin-left: 5%;
        }

    }

    @media screen and (max-width : 599px) {
        #tissus {
            width: 95%;
            margin-top: 10%;
        }

    }

    #tissus img {
        width: 100%;
        cursor: pointer;
    }


    /* rouleau-tissu */
    #rouleau-tissu {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #rouleau-tissu {
            width: 40%;
            margin-top: 10%;
            margin-left: -8%;
        }

    }

    @media screen and (max-width : 599px) {
        #rouleau-tissu {
            width: 95%;
            margin-top: 10%;
        }

    }

    #rouleau-tissu img {
        width: 100%;
        cursor: pointer;
    }

    /* promo-tissu */
    #promo-tissu {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #promo-tissu {
            width: 55%;
            margin-top: 8%;
            margin-left: 34%;
        }

    }

    @media screen and (max-width : 599px) {
        #promo-tissu {
            width: 95%;
            margin-top: 10%;
        }

    }

    #promo-tissu img {
        width: 100%;
        cursor: pointer;
    }

    /* personnage-tissu */
    #personnage-tissu {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #personnage-tissu {
            width: 47%;
            margin-top: 20%;
            margin-left: 10%;
        }

    }

    @media screen and (max-width : 599px) {
        #personnage-tissu {
            width: 95%;
            margin-top: 10%;
        }

    }

    #personnage-tissu img {
        width: 100%;
        cursor: pointer;
    }

    /* tissu-flou */
    #tissu-flou {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #tissu-flou {
            width: 40%;
            margin-top: 20%;
            margin-left: -8%;
        }

    }

    @media screen and (max-width : 599px) {
        #tissu-flou {
            width: 95%;
            margin-top: 10%;
        }

    }

    #tissu-flou img {
        width: 100%;
        cursor: pointer;
    }

    /* tissu-motifs */
    #tissu-motifs {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #tissu-motifs {
            width: 30%;
            margin-top: 18%;
            margin-left: 45%;
        }

    }

    @media screen and (max-width : 599px) {
        #tissu-motifs {
            width: 95%;
            margin-top: 10%;
        }

    }

    #tissu-motifs img {
        width: 100%;
        cursor: pointer;
    }

    /* tissu-brillant */
    #tissu-brillant {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #tissu-brillant {
            width: 35%;
            margin-top: 20%;
            margin-left: 55%;
        }

    }

    @media screen and (max-width : 599px) {
        #tissu-brillant {
            width: 95%;
            margin-top: 10%;
        }

    }

    #tissu-brillant img {
        width: 100%;
        cursor: pointer;
    }

    /* tissus-mystere */
    #tissus-mystere {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #tissus-mystere {
            width: 60%;
            margin-top: 18%;
        }

    }

    @media screen and (max-width : 599px) {
        #tissus-mystere {
            width: 95%;
            margin-top: 10%;
        }

    }

    #tissus-mystere img {
        width: 100%;
        cursor: pointer;
    }

    /* street-tissus */
    #street-tissus {
        width: 15%;
        height: auto;
    }

    @media screen and (min-width : 600px) {
        #street-tissus {
            width: 40%;
            margin-top: 20%;
            margin-left: 45%;
            margin-bottom: 20%;
        }

    }

    @media screen and (max-width : 599px) {
        #street-tissus {
            width: 95%;
            margin-top: 10%;
        }

    }

    #street-tissus img {
        width: 100%;
        cursor: pointer;
        margin-bottom: 40px;
    }

    /* images ailleurs anatole */

    #anatole-1 {
        scale: 93%;
    }
    #anatole-guerrier {
        padding-left: 30vw;
    }
    #anatole-profil {
        padding-top: 10vh;
    }
    #anatole-montagne {
        scale: 80%;
    }
    #anatole-cuisine {
        scale: 70%;
        padding-left: 13vw;
    }
    #anatole-fourchette {
        padding-left: 3vw;
    }
    



}

/* Lightbox styling */
.lightbox {
    display: none;
    /* Cacher par défaut */
    position: fixed;
    z-index: 1000;
    /* Au-dessus de tous les éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* Fond blanc avec transparence */
    align-items: center;
    justify-content: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(86, 0, 255);
    /* Couleur noire pour le bouton de fermeture */
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.page {
    display: none;
}

.page.active {
    display: block;
}